<div loader #subtabLoader></div>
<common-tabs [subTabsData]="subTabsData" [activeAccordion]="accordianId" *ngIf="!loadContent"></common-tabs>
<div class="byi-accord-content" *ngIf="loadContent">
	<div class="byi-top-filters" *ngIf="mainService.userLoggedIn">
		<ng-container *ngIf="mainService.isResponsive" [attr.hidden]="componentHide">
			<div class="byi-fullview-toggle">
				<button type="button" (click)="showFonts(showAllFonts)">
					<span></span>
					<span></span>
					<span></span>
				</button>
			</div>
		</ng-container>
		<div class="byi-search">
			<input class="byi-input" name="searchText" placeholder="{{'Search by Name' | translate}}" type="text"
				[(ngModel)]='searchText' (keyup)="searchDesigns()">
			<button class="byi-search-btn">
				<svg class="icon icon-search" viewBox="0 0 50 50">
					<use xlink:href="assets/img/sprite.svg#icon-search"></use>
				</svg>
			</button>
		</div>
	</div>
	<div class="byi-norecord"
		*ngIf="mainService.userLoggedIn && !loaderComponent.showSubLoade && !customerDesigns.length && !showPlaceholder">
		{{'No Designs Found' | translate}}
	</div>

	<div class="byi-customer-login" *ngIf="!mainService.userLoggedIn">
		<button (click)="login()" class="byi-btn byi-btn-xs"
			type="button">{{'Get your saved designs' | translate}}</button>
	</div>

	<div class="byi-tab-cats byi-mydesign-list">
		<ul infiniteScroll [horizontal]="true" [infiniteScrollDistance]="0" [infiniteScrollThrottle]="1000"
			[scrollWindow]="false" [infiniteScrollDisabled]="!isEnableloadmore" (scrolled)="loadMoreDesigns()"
			#scrollToBottom>
			<li *ngFor="let object of customerDesigns; let i = index"
				[attr.hidden]="(showPlaceholder && mainService.isResponsive) ? true : null">
				<a href="javascript:void(0)" [class.image-only]="!object.title">
					<button type="button" (click)="deleteDesign(object.id,i)" class="byi-icon-delete">
						<svg class="icon icon-t-delete" viewBox="0 0 30 38">
							<use xlink:href="assets/img/sprite.svg#icon-t-delete"></use>
						</svg>
					</button>
					<span (click)="loadDesign(object.id)">
						<img [src]="object.path" (error)="getDefaultImage(object)">
					</span>
					<label *ngIf="object.title" (click)="loadDesign(object.id)">{{object.title}}</label>
				</a>
			</li>
			<li [attr.hidden]="(!showPlaceholder || !mainService.isResponsive) ? true : null"
				*ngFor="let temp of mainService.customPlaceholderArr" placeholder-loader [loaderHeight]='84'
				[loaderWidth]='84'></li>
		</ul>
	</div>
	<div loader #loaderComponent></div>
	<div class="loadmore-action" *ngIf="!mainService.isResponsive && isEnableloadmore">
		<input class="loadmore-btn" type="button" value="{{'Load More' | translate}}" (click)="loadMoreDesigns()">
	</div>
</div>