/* Side Chg btn
----------------------------*/
.byi-side-btn {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  border: none;
  position: relative;
  position: absolute;
  bottom: 0;
  top: 0;
  margin: auto;
  background: none;
  display: none;
  span {
    svg {
      overflow: hidden;
      stroke-width: 1px;
      stroke: $byi-lighticon;
      fill: $byi-lighticon;
    }
  }
  &.byi-prev-side {
    left: 0;
  }
  &.byi-next-side {
    right: 0;
  }
}

.total-sides {
  .total-sides-mob {
    position: relative;
    padding: 10px 40px;
    display: inline-block;
  }
  label {
    display: inline-block;
    margin: 0 8px;
  }
  .byi-side-btn {
    display: inline-block;
    height: 35px;
  }

  ul {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 4px;
      font-size: 0;
      span {
        width: 12px;
        height: 12px;
        float: left;
        border: 1px solid $byi-sidechange-icon;
        border-radius: 50%;
        cursor: pointer;
      }
      &:hover {
        span {
          border-color: $byi-theme;
        }
      }
      &.active {
        span {
          background: $byi-theme;
          border-color: $byi-theme;
        }
      }
    }
  }
}

.byi-designboard {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 70px 0 55px 0;
  .byi-output {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 450px;
    right: 320px;
    padding-top: 20px;
    overflow: hidden;
  }
  .total-sides {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 12;
    padding: 0 10px;
    margin: 0 auto;
    &.context-menu-open {
      z-index: -1;
      opacity: 0.5;
    }
    .total-sides-mob {
      border-radius: 4px;
      background-color: $byi-main-bg;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -10px;
        right: -10px;
        z-index: -1;
        border-radius: 4px;
        background-color: inherit;
      }
    }
  }
}

/* ----------------------------------------------------------------
            Print Area Warning & Low Resolution Warning
   ---------------------------------------------------------------*/
.print-area-warning {
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 8;
  width: 400px;
  margin: 0 auto;
  color: $byi-light;
  padding: 4px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 50px;
  background-color: lighten($byi-theme , 5%);
  &.show {
    animation: fadeInWarning 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
}

.low-resolution-warning {
  opacity: 0;
  z-index: 8;
  width: 165px;
  margin: 0 auto;
  color: $byi-light;
  padding: 4px;
  font-size: 12px;
  line-height: 14px;
  border-radius: 50px;
  background-color: lighten($byi-theme , 5%);
  transform: translateY(-10px);
  margin-bottom: 10px;
  &.show {
    animation: fadeInWarningLowRes 0.7s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  }
}

/* --------------------------------
		Context menu CSS
  -------------------------------- */

.context-menu {
  position: absolute;
  z-index: 9999;
  width: 20px;
  > .byi-content-btn {
    width: 20px;
    height: 20px;
    background: $byi-light;
    border-radius: 50%;
    margin: 0;
    padding: 3px;
    z-index: 9999;
    cursor: pointer;
    img {
      display: block;
    }
  }
}
.context-menu-list {
  position: absolute;
  top: 100%;
  left: -79px;
  border: none;
  margin: 0 auto;
  padding: 0;
  width: 175px;
  border-radius: 4px;
  margin-top: 20px;
  box-sizing: content-box;
  background: darken($byi-light, 7.5%);
  border: 1px solid darken($byi-light, 7.5%);
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    border-bottom: 9px solid darken($byi-light, 7.5%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    transform: translateX(-50%);
  }
  &:after {
    content: "";
    clear: both;
    display: table;
  }
  > li {
    float: left;
    width: 35px;
    height: 35px;
    list-style-type: none;
    background: none;
    cursor: pointer;
    padding: 0;
    &.disabled {
      pointer-events: none;
      svg {
        opacity: 0.3;
      }
    }
    label {
      width: 100%;
      height: 100%;
      display: block;
      padding: 8px;
      margin: 0;
      cursor: pointer;
    }
    svg {
      fill: darken($byi-light, 60%);
    }
    &:hover {
      svg {
        fill: $byi-theme;
      }
    }
  }
}

.byi-design {
  position: relative;
  height: 100%;
  padding-top: 25px;
  .byi-svg-editor-box {
    position: relative;
    overflow: hidden;
    z-index: 1;
    .product-designer-main-content {
      margin: 0 auto;
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

/*-----------------------------
		Product Options
-----------------------------*/

.byi-product-attr {
  position: absolute;
  top: 0;
  right: 1px;
  z-index: 10;
  overflow: hidden;
  padding-left: 71px;
  transform: translateX(calc(100% - 71px));
  transition: 0.3s ease-out transform;
  .byi-attr-btn {
    position: absolute;
    padding: 5px;
    width: 71px;
    float: left;
    z-index: 2;
    top: 0;
    left: 1px;
    color: $byi-text-color;
    border-radius: 4px;
    border: 1px solid $byi-border-color;
    background-color: $byi-input-bg;
    .byii-icon {
      width: 28px;
      height: 28px;
      margin: 0 auto 5px auto;
      display: block;
      fill: $byi-text-color;
    }
    span {
      font-size: 12px;
      display: block;
      line-height: 14px;
    }
  }
  &.open {
    transform: translateX(0);
    .byi-attr-btn {
      border-right: none;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .byip-options {
      opacity: 1;
    }
  }
  .byip-options {
    opacity: 0;
    width: 218px;
    float: left;
    padding: 15px;
    text-align: left;
    min-height: 73px;
    max-height: 288px;
    overflow-y: auto;
    transition: 0.3s ease-out;
    border-radius: 0 4px 4px 4px;
    background-color: $byi-input-bg;
    -webkit-overflow-scrolling: touch;
    border: 1px solid $byi-border-color;
    @media screen and (min-width: 1640px) {
      width: 248px;
    }
    .byi-accordion {
      margin-bottom: 0;
    }
    .byi-accord {
      border-radius: 4px;
      margin-bottom: 12px;
      box-shadow: 0 0 5px -2px rgba($byi-dark, 0.5);
      background-color: $byi-accord-bg-dark;
      &:last-child {
        margin-bottom: 0;
      }
      .card {
        padding: 0;
        margin: 0;
        border: none;
        display: block;
        box-shadow: none;
        border-radius: 0;
        background: transparent;
        .card-header {
          padding: 0;
          margin: 0;
          border: none;
          display: block;
          box-shadow: none;
          border-radius: 0;
          background: transparent;
        }
        .card-body {
          padding: 0;
          display: block;
        }
      }
      .byi-accord-title {
        width: 100%;
        border: none;
        display: block;
        color: $byi-accord-text;
        font-size: 13px;
        cursor: pointer;
        padding: 10px 12px;
        padding-right: 30px;
        position: relative;
        text-align: left;
        transition: none;
        font-weight: 600;
        background-color: transparent;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:after {
          content: "";
          position: absolute;
          top: 13px;
          right: 15px;
          width: 8px;
          height: 8px;
          border: none;
          border-left: 1px solid $byi-text-color;
          border-bottom: 1px solid $byi-text-color;
          transform: rotate(-45deg);
        }
        &:hover,
        &:focus,
        &:active {
          box-shadow: none;
          text-decoration: none;
        }
      }
      &.panel-open {
        .byi-accord-title {
          color: $byi-accord-text-active;
          &:after {
            top: 17px;
            transform: rotate(135deg);
          }
        }
        .byi-accord-content {
          display: block;
        }
      }
      .byi-accord-content {
        display: none;
        padding: 0 12px 7px;
      }
      .byi-prod-color-list {
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          .prod-color {
            cursor: pointer;
            width: 26px;
            height: 26px;
            position: relative;
            margin: 0 6px 6px 0;
            border-radius: 100%;
            border: 1px solid $byi-border-color;
            &:after {
              left: 8px;
              top: 5px;
              width: 0;
              height: 0;
              border: solid $byi-light;
              border-width: 0;
              transform: rotate(45deg);
              content: "";
              position: absolute;
              border-radius: 2px;
            }
            &.disabled {
              opacity: 0.3;
              pointer-events: none;
              border-color: lighten($byi-dark, 50%);
            }
            &.active {
              box-shadow: 0 0 3px 0px $byi-dark;
              &:after {
                border-width: 0 3px 3px 0;
                width: 8px;
                height: 13px;
              }
            }
            span {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              border-radius: 100%;
            }
            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              max-height: 26px;
              min-height: 24px;
              border-radius: 100%;
            }
          }
          .prod-text {
            cursor: pointer;
            padding: 1px 5px;
            font-size: 12px;
            margin: 0 5px 5px 0;
            border-radius: 20px;
            min-width: 20px;
            text-align: center;
            background-color: $byi-input-bg;
            border: 1px solid $byi-border-color;
            &.disabled {
              opacity: 0.3;
              pointer-events: none;
              border-color: lighten($byi-dark, 50%);
            }
            &.active {
              color: $byi-light;
              border-color: $byi-theme;
              background-color: $byi-theme;
            }
          }
        }
      }
    }
  }
}

.product-image-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-position: center center;
}

/*----------------------------
		 design area footer
 ----------------------------  */

.design-area-footer {
  position: absolute;
  width: 206px;
  left: 128px;
  right: 0;
  margin: 0 auto;
  .byig-control {
    margin: 0;
    padding: 3px;
    list-style: none;
    border-radius: 4px;
    display: inline-block;
    li {
      padding: 0 10px;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      &.disabled {
        opacity: 0.3;
        pointer-events: none;
      }
      + li {
        &:after {
          content: "";
          height: 22px;
          width: 1px;
          background: $byi-border-color;
          float: left;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }
      }
      a {
        display: block;
        width: 30px;
        height: 30px;
        padding: 4px;
        svg {
          fill: $byi-lighticon;
          transition: 0.2s ease all;
        }
        &:hover {
          svg {
            fill: $byi-theme;
            transition: 0.2s ease all;
          }
        }
      }
      .open {
        > a {
          svg {
            fill: $byi-theme;
            transition: 0.2s ease all;
          }
        }
      }
      .zoom-control {
        margin: 0;
        width: 210px;
        font-size: 0;
        top: auto !important;
        left: -82px !important;
        bottom: 100% !important;
        box-shadow: none;
        min-width: inherit;
        border-radius: 4px;
        margin-bottom: 8px;
        opacity: 0;
        padding: 19px 48px 19px 48px;
        background-color: $byi-main-bg;
        transform: translateY(-10px);
        border: 1px solid $byi-border-color;
        /* EDGE Specific Changes */
        @supports (-ms-ime-align: auto) {
          height: 40px;
          padding: 8px 48px;
        }
        &.show {
          animation: fadeInBottom 0.35s ease forwards;
        }
        &:after,
        &:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          width: 8px;
          margin: -1px auto 0 auto;
          border-top: 8px solid $byi-main-bg;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
        }
        &:after {
          border-width: 10px 11px 0 11px;
          border-top-color: $byi-border-color;
          z-index: -1;
        }
        input {
          &[type="range"] {
            width: 100%;
          }
        }
        .byi-reset-zoom {
          position: absolute;
          right: 10px;
          top: 5px;
        }
        .zoom-counter {
          position: absolute;
          left: 5px;
          top: 9px;
          margin: 0;
          width: 38px;
          font-size: 14px;
          font-weight: 600;
          text-align: center;
          white-space: nowrap;
          color: $byi-text-color;
        }
      }
    }
  }
}

@keyframes fadeInBottom {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInWarning {
  from {
    top: -40px;
    opacity: 0;
  }
  to {
    top: -10px;
    opacity: 1;
  }
}

@keyframes fadeInWarningLowRes {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}