.byi-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  padding: 0 35px;
  min-height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-color: $byi-toolbar-bg;
  box-shadow: 0 0 8px -3px rgba($byi-dark, 0.4);
  /* EDGE Specific Changes */
  @supports (-ms-ime-align: auto) {
    box-shadow: 0 0 8px -1px rgba($byi-dark, 0.4);
  }
  .byif-left {
    float: left;
    .byi-product-name {
      color: $byi-text-color;
      font-size: 15px;
      font-weight: 600;
    }
  }
  .byif-right {
    float: right;
  }
}

.byi-cart-wrap {
  .byi-cart-price {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    label {
      margin-bottom: 0;
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
    .cart-amt,
    .cart-info {
      display: inline-block;
      vertical-align: middle;
    }
    .cart-amt {
      color: $byi-theme;
      font-size: 20px;
      font-weight: bold;
      margin-right: 2px;
    }
    .cart-info {
      width: 20px;
      height: 20px;
      padding: 0 2px;
      cursor: pointer;
      svg {
        fill: $byi-text-color;
      }
    }
    .byi-info-display {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 400px;
      padding: 10px 15px;
      bottom: 100%;
      right: -60px;
      margin-bottom: 10px;
      border-radius: 4px;
      transform: translateY(-10px);
      background-color: $byi-toolbar-bg;
      border: 1px solid $byi-border-color;
      box-shadow: 0 0 10px -5px rgba($byi-dark, 0.5);
      transition: transform 0.35s ease, opacity 0.35s ease, visibility 0.35s ease;
      &.open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
      }
      &:before,
      &:after {
        position: absolute;
        content: "";
        top: 100%;
        right: 60px;
        border-top: 10px solid $byi-toolbar-bg;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
      &:after {
        border-top-color: $byi-border-color;
        border-top-width: 11px;
        border-left-width: 11px;
        border-right-width: 11px;
        margin-right: -1px;
        z-index: -1;
      }
      .byi-priceinfo-top {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          font-size: 14px;
          padding: 4px 0;
        }
      }
      .byi-priceinfo__left,
      .byi-priceinfo__right {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
          color: $byi-theme;
        }
      }
      .byi-priceinfo__left {
        width: 70%;
      }
      .byi-priceinfo__right {
        width: 30%;
        color: $byi-theme;
        text-align: right;
        text-transform: uppercase;
      }
      .byi-priceinfo-total {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        font-size: 14px;
        padding: 9px 0 0;
        margin-top: 5px;
        color: $byi-theme;
        border-top: 1px solid $byi-border-color;
      }
    }
  }
  .byi-cart-action {
    display: inline-block;
    vertical-align: middle;
    margin-left: 22px;
    .byi-atc-btn {
      border: none;
      font-size: 14px;
      font-weight: 600;
      padding: 6px 18px;
      border-radius: 4px;
      color: $byi-light;
      background-color: $byi-theme;
      transition: 0.5s ease background-color;
      &:hover {
        background-color: darken($byi-theme, 5%);
      }
    }
  }
}
